header {
    margin-bottom: 46px;
    user-select: none;
    & h1 {
        font-size: 24px;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--dark-greyish-cyan)
    }
}