.input {
    &-mb {
        margin-bottom: 30px;
    }
    &__label {
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            margin-bottom: 16px;
        }
        font-size: 16px;
        font-weight: bold;
    }
    &__error {
        font-size: 16px;
        color: var(--error-red);
        opacity: 0;
        transition: .3s ease;
        &-visible {
            opacity: 1;
            transition: .3s ease;
    }
    }
    &__wrapper {
        position: relative;
    }
    &__input {
        text-align: right;
        padding: 14px 16px;
        border-radius: 6px;
        width: 100%;
    }
    &__img {
        position: absolute;
        top: 25px;
        left: 16px;
    }

}