.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 98px;
    &__info {

    }
    &__heading {
        color: var(--very-light-grayish-cyan);
        width: 98px;
    }
    &__text {
        color: var(--grayish-cyan);
    }
    &__value {
        h2 {
            color: var(--strong-cyan);
            letter-spacing: 0;
        }
    }
}