.tip-selector {
    margin-bottom: 30px;
    
    &__label {
        margin-bottom: 14px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        gap: 15px;
        @media (max-width: 560px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__custom-tip {
        width: 100%;
    }
    &__input {
        margin: 0;
        padding: 0;
        width: 120px;
        border-radius: 9px;
        text-align: right;
        height: 48px;
        padding-right: 13px;
        border-color: var(--very-light-grayish-cyan);
        @media (max-width: 560px) {
            padding-right: 35px;
            width: 100%;
        }
    }
}

.active {
    background-color: var(--strong-cyan);
}