.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 97vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.container {
    max-width: 934px;
    padding: 0 5px;
}