.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 97vh;
    min-width: 100vw;
}

.container {
    max-width: 934px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    &-cyan {
        justify-content: space-between;
        background-color: var(--very-dark-cyan);
        padding: 35px 42px 40px 35px;
        border-radius: 12px;
    }
}

.card {
    display: flex;
    column-gap: 48px;
    background-color: white;
    border-radius: 12px;
    padding: 32px 32px 32px 48px;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}