@import './components/all.scss';
@import './variables.scss';
@import './layout.scss';

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-grayish-cyan);
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-greyish-cyan);
}

h1 {
    font-size: 24px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dark-greyish-cyan)
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

input {
    outline: none;
    font-size: 24px;
    font-weight: bold;
    font-family: inherit;
    color: var(--very-dark-cyan);
    background-color: var(--very-light-grayish-cyan);
    border: 3px solid transparent;
    transition: .4s ease;
}

input:focus {
    border-color: var(--strong-cyan);
    transition: .4s ease;
}

input:out-of-range {
    transition: .4s ease;
    border-color: var(--error-red);
}

/* Hiding the arrows of input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

p {
    font-size: 14px;
    font-weight: bold;
}